<!-- <div class="container">
	<div class="row">
		<div class="error" ng-if="!category.selectedCategoryProducts.length">
			No results...
		</div>
		<ul>
			<li class="col-xs-3 col-md-3" ng-repeat="product in category.selectedCategoryProducts track by $index">
				<div class="product">
					<p><a href="#/shop/{{category.categoryName}}/{{product._id}}">{{product.name}}</a></p>
					<p>{{product.price}}</p>
					<p>{{product.style}}</p>
				</div>
			</li>
		</ul>
	</div>
</div> -->

<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="left-sidebar">
					<h2>Category</h2>
					<div class="panel-group category-products" id="accordian"><!--category-productsr-->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordian" href="#mens">
										<span class="badge pull-right"><i class="fa fa-plus"></i></span>
										Mens
									</a>
								</h4>
							</div>
							<div id="mens" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										<li><a href="#">Clothing</a></li>
										<li><a href="#">Footwear</a></li>
									</ul>
								</div>
							</div>
						</div>
						
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordian" href="#womens">
										<span class="badge pull-right"><i class="fa fa-plus"></i></span>
										Womens
									</a>
								</h4>
							</div>
							<div id="womens" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										<li><a href="#">Clothing</a></li>
										<li><a href="#">Footwear</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordian" href="#womens">
										<span class="badge pull-right"><i class="fa fa-plus"></i></span>
										Kids
									</a>
								</h4>
							</div>
							<div id="womens" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										<li><a href="#">Clothing</a></li>
										<li><a href="#">Footwear</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div><!--/category-products-->
				
					<div class="brands_products"><!--brands_products-->
						<h2>Brands ({{category.totalBrandsAvailableproducts.totalBrandsCombined}})</h2>
						<div class="brands-name">
							<ul class="nav nav-pills nav-stacked">
								<li ng-repeat="details in category.totalBrandsAvailableproducts.brandDetails">
									<a href="#"><span class="pull-right">({{details.count}})</span>{{details.brand}}</a>
								</li>
							</ul>
						</div>
					</div><!--/brands_products-->
					
					<div class="price-range"><!--price-range-->
						<h2>Price Range</h2>
						<div class="well text-center">
							 <b class="pull-left">$ 0</b> <b class="pull-right">$ 100</b>
							 <b class="pull-left">$ 100</b> <b class="pull-right">$ 200</b>
						</div>
					</div><!--/price-range-->
					
				</div>
			</div>
			
			<div class="col-sm-9 padding-right">
				<div class="features_items"><!--features_items-->
					<h2 class="title text-center">Items...</h2>
					<div class="col-sm-4" ng-repeat="product in category.selectedCategoryProducts track by $index">
						<div class="product-image-wrapper">
							<div class="single-products">
									<div class="productinfo text-center">
										<img src="{{product.images[0].main}}" alt="" />
										<h2>${{product.price}}</h2>
										<p>{{product.name}}</p>
										<a href="#/shop/{{category.categoryName}}/{{product._id}}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<h2>${{product.price}}</h2>
											<p>{{product.name}}</p>
											<a href="#/shop/{{category.categoryName}}/{{product._id}}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
									</div>
							</div>
							<div class="choose">
								<ul class="nav nav-pills nav-justified">
									<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
									<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
								</ul>
							</div>
						</div>
					</div>
					
				</div><!--features_items-->
				
				
			</div>
		</div>
	</div>
</section>